{% load static %}
<!-- horizontal collection component start -->
<!-- should take a list of Book objects and render therm in horizontal scrollable list -->
 
<div class="d-flex flex-row flex-nowrap overflow-auto p-1 mb-3">
    {% for i in '0123456789'%}
    <div class="card m-1 mx-3 mb-2" style="min-width: 100px; flex: 0 0 auto;">
        <img src="{% static 'images/book_covers/the_name_of_the_wind.png' %}" 
        class="card-img-top p-1" 
        style="height: 18em; width: auto;" 
        alt="cover">
        <div class="card-body p-2">
            <h6 class="card-title h6 text-truncate">The name of the wind</h6>
            <div class="btn-group btn-group-sm w-100" role="group" aria-label="Basic checkbox toggle button group">
                <a class="btn btn-outline-secondary w-100" href="/home/details/" id="button-share">Details</a>
                <input type="checkbox" class="btn-check" id="save{{ i }}" autocomplete="off">
                <label class="btn btn-outline-secondary w-100" for="save{{ i }}">Save</label>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- horizontal collection component end -->